@inject SignInManager<IdentityUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("styles", required: false)
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - liveraryIdentity</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/liveraryIdentity.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    @if (!Context.Request.Path.StartsWithSegments("/Account/Login") &&
        !Context.Request.Path.StartsWithSegments("/Account/Create") &&
        !Context.Request.Path.StartsWithSegments("/SuperAdmin/UserList") &&
        !Context.Request.Path.StartsWithSegments("/SuperAdmin/ViewDetails") &&
        !Context.Request.Path.StartsWithSegments("/AdminHome/Index"))
    {
        <header>
            <nav>
                <div class="header-content">
                    <div class="logo">
                        @if(User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                        {
                            <a asp-area="" asp-controller="AdminHome" asp-action="Index">
                                <img src="~/images/logo.png" alt="Logo" width="254" height="72" />
                            </a>
                        } else {
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/images/logo.png" alt="Logo" width="254" height="72" />
                            </a>
                        }
                    </div>
                    @if(!Context.Request.Path.StartsWithSegments("/Home/Category") &&
                        !Context.Request.Path.StartsWithSegments("/Home/Training") &&
                        !Context.Request.Path.StartsWithSegments("/Trainings") &&
                        !Context.Request.Path.StartsWithSegments("/Topics") &&
                        !Context.Request.Path.StartsWithSegments("/Categories") &&
                        !Context.Request.Path.StartsWithSegments("/AdminHome/TrainingAdmin"))
                    @using (Html.BeginForm("Index", "Search", FormMethod.Get))
                    {
                        <div class="search-bar">
                            <div class="input-container">
                                <input type="text" placeholder="Search" />
                                    <button type="submit" value="Search">
                                    <img src="~/images/search.png" alt="Search" />
                                </button>
                            </div>
                        </div>
                    }
                    @if(User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                    {
                        <div class="heading-container">
                            <a asp-area="" asp-controller="Trainings" asp-action="Create">
                                <button class="edit-button-header">
                                    <img src="~/images/add.png" alt="Add Icon" /> Create Training
                                </button>
                            </a>
                        </div>
                        <div class="heading-container">
                            <a asp-area="" asp-controller="Categories" asp-action="Create">
                                <button class="edit-button-header">
                                    <img src="~/images/add.png" alt="Add Icon" /> Create Category
                                </button>
                            </a>
                        </div>
                    }
                    <div id="login">
                        @if (signInManager.IsSignedIn(User))
                        {
                            @if(User.IsInRole("SuperAdmin"))
                            {
                                <a asp-area="" asp-controller="SuperAdmin" asp-action="UserList">
                                    <button class="btn btn-purple-superadmin">
                                        <img src="~/images/superadmin.png" alt="Profile Icon" /> @User.Identity.Name
                                    </button>
                                </a>
                            } else {
                                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-purple">Logout @User.Identity.Name</button>
                                </form>
                            }
                        } 
                        @* else {
                            <a asp-area="" asp-controller="Account" asp-action="Login">
                                Login
                            </a>
                        } *@
                    </div>
                </div>
            </nav>
        </header>
    }
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - LiveRary - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function displayFileName() {
            var input = document.getElementById('coverImage');
            var fileNameDisplay = document.getElementById('fileName');
            var uploadIcon = document.getElementById('uploadIcon');

            if (input.files.length > 0) {
                fileNameDisplay.innerText = input.files[0].name;
                fileNameDisplay.style.display = 'inline';
                uploadIcon.style.display = 'none';
            } else {
                fileNameDisplay.style.display = 'none';
                uploadIcon.style.display = 'inline';
            }
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
