@model CategoryViewModel

@{
    ViewData["Title"] = "Category Card";
}

<body>
    <div class="category-cover" style="background-image: url('/images/@Url.Content(Model.Categories.Thumbnail)');">
        <div class="text-container">
            <h1>@Model.Categories.Title</h1>
            <p>
                @Model.Categories.Description
            </p>
        </div>
    </div>
    <div class="category-details">
        <h1>Category</h1>
        <div class="category-div" style="background-image: url('/images/@Url.Content(Model.Categories.Thumbnail)');">
            <div class="text">@Model.Categories.Title</div>
        </div>
    </div>
    <div class="category-details">
        <h1>Available Trainings</h1>
        <div class="scrollable-container3">
            @for(int i=0; i < Model.Training.Count(); i++)
            {
                var training = Model.Training.ElementAt(i);
                @if(training.CategoryID == Model.Categories.ID)
                {
                    <div class="div-training-row">
                        <a href="/Home/Training/@training.ID">
                            <div class="training-div" style="background-image: url('/images/@Url.Content(training.Thumbnail)');">
                                <div class="upper-row">
                                    <div class="title-upper-right">
                                        <p class="title-right">@Model.Categories.Title</p>
                                    </div>
                                    <div class="text-bottom-left">
                                        <h2>@training.Title</h2>
                                        <p>@(training.Description.Length > 40 ? training.Description.Substring(0, 40) + "..." : training.Description)</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</body>
