@using liveraryIdentity.Models
@model IEnumerable<Training>
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="main-div">
        <div class="title-div">
            <h1 class="custom-heading">Training Category</h1>
        </div>
        <div class="scrollable-container">
            <div class="div-row">
                <a href="/Home/Category">
                    <div class="category-div" style="background-image: url('/images/aws_bg.png');">
                        <div class="text">Amazon Web Services</div>
                    </div>
                </a>
                <div class="category-div" style="background-image: url('/images/python_bg.png');">
                    <div class="text">Python Programming</div>
                </div>
                <div class="category-div" style="background-image: url('/images/js_bg.png');">
                    <div class="text">Javascript Programming</div>
                </div>
                <div class="category-div" style="background-image: url('/images/ms_bg.png');">
                    <div class="text">Microsoft Azure</div>
                </div>
                <div class="category-div" style="background-image: url('/images/google_bg.png');">
                    <div class="text">Google Cloud Platform</div>
                </div>
                <div class="category-div" style="background-image: url('/images/oracle_bg.png');">
                    <div class="text">Oracle Cloud</div>
                </div>
            </div>
        </div>
        <div class="scrollable-container">
            <div class="div-row">
                <div class="category-div" style="background-image: url('/images/oracle_bg.png');">
                    <div class="text">Oracle Cloud</div>
                </div>
                <div class="category-div" style="background-image: url('/images/google_bg.png');">
                    <div class="text">Google Cloud Platform</div>
                </div>
                <div class="category-div" style="background-image: url('/images/ms_bg.png');">
                    <div class="text">Microsoft Azure</div>
                </div>
                <div class="category-div" style="background-image: url('/images/js_bg.png');">
                    <div class="text">Javascript Programming</div>
                </div>
                <div class="category-div" style="background-image: url('/images/python_bg.png');">
                    <div class="text">Python Programming</div>
                </div>
                <div class="category-div" style="background-image: url('/images/aws_bg.png');">
                    <div class="text">Amazon Web Services</div>
                </div>
            </div>
        </div>
        <div style="padding: 10px;"></div>
        <div class="title-div">
            <h1 class="custom-heading">Trainings</h1>
        </div>
        <div class="scrollable-container2">
            @{
                foreach(var training in Model)
                {
                    <div class="div-training-row">
                        <a href="/Home/Training">
                            <div class="training-div" style="background-image: url('/images/training1.png');">
                                <div class="upper-row">
                                    <div class="title-upper-right">
                                        <p class="title-right">@training.CategoryId</p>
                                    </div>
                                    <div class="text-bottom-left">
                                        <h2>@training.Title</h2>
                                        <p>@training.TrainingDescription</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
        <div class="scrollable-container2">
            @{
                foreach(var training in Model)
                {
                    <div class="div-training-row">
                        <a href="/Home/Training">
                            <div class="training-div" style="background-image: url('/images/training1.png');">
                                <div class="upper-row">
                                    <div class="title-upper-right">
                                        <p class="title-right">@training.CategoryId</p>
                                    </div>
                                    <div class="text-bottom-left">
                                        <h2>@training.Title</h2>
                                        <p>@training.TrainingDescription</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
        
    </div>
</body>