@model TrainingViewModel

@{
    ViewData["Title"] = "Training Card";
    Category selectedCategory = null;
    int isTopicNull = 0;
    for (int i = 0; i < Model.Categories.Count(); i++)
    {
        selectedCategory = Model.Categories.FirstOrDefault(c => c.ID == Model.Training.CategoryID);
    }
}
<body>
    <div class="training-cover" style="background-image: url('/images/@Url.Content(Model.Training.Thumbnail)');">
        <div class="star-row">
            <div class="star" style="background-image: url('/images/star.png');"></div>
            <div class="star" style="background-image: url('/images/star.png');"></div>
            <div class="star" style="background-image: url('/images/star.png');"></div>
        </div>
        <div class="text-container">
            <h1>@Model.Training.Title</h1>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="category-details2">
            <h1>Category</h1>
            <div class="category-div2" style="background-image: url('/images/@Url.Content(@selectedCategory.Thumbnail)');">
                <div class="text">@selectedCategory.Title</div>
            </div>
            <div class="left-details">
                <p style="white-space: pre-wrap; text-align: justify;">
                    @Model.Training.Description
                </p>
            </div>
        </div>
        <div class="right-details-training">
            @if(User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
            {
                <div class="heading-container">
                    @for(int i=0; i < Model.Topics.Count(); i++)
                    {
                        @if(Model.Topics[i].TrainingID == Model.Training.ID)
                        {
                            isTopicNull = 1;
                        }
                    }
                    @if(isTopicNull == 1){
                    <div style="padding-right: 8px;">
                        <a href="/Topics/Index?trainingId=@Model.Training.ID">
                            <button class="edit-button-header">
                                <img src="~/images/edit.png" alt="Add Icon" /> Edit Topics
                            </button>
                        </a>
                    </div>
                    }
                    <a href="/Topics/Create?trainingId=@Model.Training.ID">
                        <button class="edit-button-header">
                            <img src="~/images/add.png" alt="Add Icon" /> Add new Topic
                        </button>
                    </a>
                </div>
            }
            @for (int i = 0; i < Model.Topics.Count(); i++)
            {
                @if(Model.Topics[i].TrainingID == Model.Training.ID)
                {
                    isTopicNull = 1;
                    <div class="topic-card">
                        <h1>@Model.Topics[i].Title</h1> 
                        <p>
                            @Model.Topics[i].Description 
                        </p>
                        @if(User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                        {
                            <button class="edit-button-header"> 
                                <img src="~/images/edit.png" alt="Edit Icon" /> Edit Resources
                            </button>
                        }
                        <div class="horizontal-scroll-container">
                            <div class="resource-button">
                                <h1>Resource Material 1</h1>
                                <img src="/images/view_icon.png" alt="view" class="button-image-view" />
                                <img src="/images/download_icon.png" alt="download" class="button-image-download" />
                            </div>
                            <div class="resource-button">
                                <h1>Resource Material 2</h1>
                                <img src="/images/view_icon.png" alt="view" class="button-image-view" />
                                <img src="/images/download_icon.png" alt="download" class="button-image-download" />
                            </div>
                            <div class="resource-button">
                                <h1>Resource Material 3</h1>
                                <img src="/images/view_icon.png" alt="view" class="button-image-view" />
                                <img src="/images/download_icon.png" alt="download" class="button-image-download" />
                            </div>
                        </div>
                    </div>
                }
            }
            @if(isTopicNull == 0)
            {
                <div class="topic-card">
                    <h1 style="text-align: center;">No Topics Added</h1> 
                </div>
            }
        </div>
    </div>
</body>